.reviews.gift-block
  .gift-block__header
    span
      h3.gift-block__h3 По какому поводу подарок?
      p.gift-block__title Начните с праздника, а дальше мы поможем подобрать что-то подходящее
    a.gift-block__catalog-btn Перейти в каталог
  
  span.review-overflow
    .review__body.gift-block__body.gift-block__body--slick
      a.category__card.card-1-line--full(href='#')
          .category__img-wrp
            img(src='/static/images/content/gift-block-1.jpg' alt='category-img')
          p.category__name На Новый Год
          p.category__count 14 подарков

      a.category__card.card-1-line--full(href='#')
          .category__img-wrp
            img(src='/static/images/content/gift-block-2.jpg' alt='category-img')
          p.category__name На День святого Валентина
          p.category__count 16 подарков
      
      a.category__card.card-1-line--full(href='#')
          .category__img-wrp
            img(src='/static/images/content/gift-block-3.jpg' alt='category-img')
          p.category__name На 8-ое марта
          p.category__count 58 подарков

      a.category__card.card-1-line--full(href='#')
          .category__img-wrp
            img(src='/static/images/content/gift-block-4.jpg' alt='category-img')
          p.category__name На Пасху
          p.category__count 3 подарка

      a.category__card.card-1-line--full(href='#')
          .category__img-wrp
            img(src='/static/images/content/gift-block-1.jpg' alt='category-img')
          p.category__name На День Рождения
          p.category__count 101 подарок
      a.category__card.card-1-line--full(href='#')
          .category__img-wrp
            img(src='/static/images/content/gift-block-1.jpg' alt='category-img')
          p.category__name На Новый Год
          p.category__count 14 подарков

      a.category__card.card-1-line--full(href='#')
          .category__img-wrp
            img(src='/static/images/content/gift-block-2.jpg' alt='category-img')
          p.category__name На День святого Валентина
          p.category__count 16 подарков
      
      a.category__card.card-1-line--full(href='#')
          .category__img-wrp
            img(src='/static/images/content/gift-block-3.jpg' alt='category-img')
          p.category__name На 8-ое марта
          p.category__count 58 подарков

      a.category__card.card-1-line--full(href='#')
          .category__img-wrp
            img(src='/static/images/content/gift-block-4.jpg' alt='category-img')
          p.category__name На Пасху
          p.category__count 3 подарка

      a.category__card.card-1-line--full(href='#')
          .category__img-wrp
            img(src='/static/images/content/gift-block-1.jpg' alt='category-img')
          p.category__name На День Рождения
          p.category__count 101 подарок