span.index-header--bg
  .index-header
    .card-wrp
      .card.card--1
      .card.card--2
      .card.card--3
    .index-header__left
      h2.index-header__h2 Магазин<br><i>подарков</i><br>впечатлений
      p.index-header__title Мы предлагаем подарочные сертификаты, которые удивляют, поднимают настроение и приносят запоминающиеся эмоции! Подарочный сертификат подойдет тем, кто не любит банальности и хочет подарить настоящее приключение, романтическую поездку, увлекательный мастер-класс или удовольствие от релаксации в SPA. Оригинальные программы найдутся для каждого.
      span.replace-block
    .adv__wrp
      .adv__item
        .adv__title 5 звезд
          p  	&#11088;
        p.adv__descr Оценка на Маркете
      .adv__item.adv__item--purple
        .adv__title 2 575
          p &#128172;
        a.adv__link(href='#') Отзывов с 2005года
      .adv__item
        .adv__title 14 лет
          p &#127881;
        p.adv__descr Создаем праздник

    a.index-header__catalog-link(href='#') Открыть каталог
