
.map-wrp
  .gift-block__header
    span
      h3.gift-block__h3 Собитыя происходят в Москве<br>и подмосковье
  .map(id="map")
script(src="https://api-maps.yandex.ru/2.1/?apikey=7d6f3607-c4d9-4a00-9c1c-a7c358841929ч&lang=ru_RU" type="text/javascript")
