.package-wrp
  .category__title-wrp
      .block-count
        span 4
      .category__title
        p.category__title-h И выберите упаковку
        p.category__descr Добавьте торжественности моменту, или не добавляйте :)
  
  .package
    .package__card.package__card--1
      p.package__title В цифровом виде
      p.package__descr Вы можете отправить его на e-mail<br>получателю или распечатать.
      b Бесплатно
    .package__card.package__card--2
      p.package__title В подарочном конверте
      p.package__descr Стильный подарочный конверт<br>с сертификатом в виде пластиковой<br>карты и брошюрой с программой.
      b +290 ₽
    .package__card.package__card--3
      p.package__title В VIP-боксе
      p.package__descr Плотная корока с магнитным<br>клапаном в двух цветовых<br>решениях.
      b +490 ₽