svg(style='display: none')
  symbol#review-btn(viewbox='0 0 13 16')
      path(d="M12 7.99968L1.5 14.0619L1.5 1.9375L12 7.99968Z" fill="none" stroke="#5B5BFF" stroke-width="2" stroke-linejoin="round")

.reviews
  .review__header
    h3.review__title--desktop 2575 отзывов с 2005 года
    h3.review__title--mobile Отзывы <span>(387)</span>
    .review__stat
      img(src="static/images/svg/star.svg", alt="star")
      p #[b 4,9] — средняя оценка впечатлений

    .review__nav
      input.review__radio(type="radio" id="review-all" name="review-filter" checked)
      label.review__label(for="review-all") Все
      input.review__radio(type="radio" id="review-fly" name="review-filter")
      label.review__label(for="review-fly") Полёты
      input.review__radio(type="radio" id="review-sport" name="review-filter")
      label.review__label(for="review-sport") Спорт
      input.review__radio(type="radio" id="review-quest" name="review-filter")
      label.review__label(for="review-quest") Квесты
      input.review__radio(type="radio" id="review-drive" name="review-filter")
      label.review__label(for="review-drive") Вождение
  span.review-overflow
    .review__body.review__body--slick
      .review__card
        .review__img-wrp
          img(src="static/images/content/review-1.jpg", alt="review-img")
          a(href="#")
            svg(width='13' height='16')
              use(xlink:href='#review-btn')
        .review__text-wrp
          p.review__name Ирина Александровна
          .review__info
            .review__rating 
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
            p.review__date 28 декабря 2018
          p.review__text Подарила подарок своему молодому человеку, он был очень удивлен и не ожидал полета на истребителе! Текст, который не влез Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, expedita!
            

      .review__card
        .review__img-wrp
          img(src="static/images/content/review-1.jpg", alt="review-img")
          a(href="#")
            svg(width='13' height='16')
              use(xlink:href='#review-btn')
        .review__text-wrp
          p.review__name Ирина Александровна
          .review__info
            .review__rating 
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
            p.review__date 28 декабря 2018
          p.review__text Подарила подарок своему молодому человеку, он был очень удивлен и не ожидал полета на истребителе! Текст, который не влез Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, expedita!
            
      .review__card
        .review__img-wrp
          img(src="static/images/content/review-1.jpg", alt="review-img")
          a(href="#")
            svg(width='13' height='16')
              use(xlink:href='#review-btn')
        .review__text-wrp
          p.review__name Ирина Александровна
          .review__info
            .review__rating 
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
            p.review__date 28 декабря 2018
          p.review__text Подарила подарок своему молодому человеку, он был очень удивлен и не ожидал полета на истребителе! Текст, который не влез Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, expedita!
            
      .review__card
        .review__img-wrp
          img(src="static/images/content/review-1.jpg", alt="review-img")
          a(href="#")
            svg(width='13' height='16')
              use(xlink:href='#review-btn')
        .review__text-wrp
          p.review__name Ирина Александровна
          .review__info
            .review__rating 
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
            p.review__date 28 декабря 2018
          p.review__text Подарила подарок своему молодому человеку, он был очень удивлен и не ожидал полета на истребителе! Текст, который не влез Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, expedita!
            

      .review__card
        .review__img-wrp
          img(src="static/images/content/review-1.jpg", alt="review-img")
          a(href="#")
            svg(width='13' height='16')
              use(xlink:href='#review-btn')
        .review__text-wrp
          p.review__name Ирина Александровна
          .review__info
            .review__rating 
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
            p.review__date 28 декабря 2018
          p.review__text Подарила подарок своему молодому человеку, он был очень удивлен и не ожидал полета на истребителе! Текст, который не влез Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, expedita!
            
      .review__card
        .review__img-wrp
          img(src="static/images/content/review-1.jpg", alt="review-img")
          a(href="#")
            svg(width='13' height='16')
              use(xlink:href='#review-btn')
        .review__text-wrp
          p.review__name Ирина Александровна
          .review__info
            .review__rating 
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
              img(src="static/images/svg/star.svg", alt="star")
            p.review__date 28 декабря 2018
          p.review__text Подарила подарок своему молодому человеку, он был очень удивлен и не ожидал полета на истребителе! Текст, который не влез Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, expedita!

script(src="static/js/review.js")