.sale-banner
  picture
    source(media="(min-width: 1080px)", srcset="static/images/content/sale-banner-desk.jpg")
    source(media="(min-width: 768px)", srcset="static/images/content/sale-banner-tab.jpg")
    img(src="static/images/content/sale-banner-mob.jpg" alt="banner")
  h3 Скидки #[b до 30%]
  p Покупай подарки выгодно - мы<br>обновляем скидки каждую неделю!

.section-line.section-line--sale-banner
    img.section-line-img(src="static/images/svg/section-line.svg")
    img.section-line-img-desk(src="static/images/svg/section-line-desk.svg") 