include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    <![endif]-->
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")
    link(rel="stylesheet" type='text/css' href="static/css/slick.css")
    link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")

    <!--[if lt IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    <![endif]-->
  body
    .how-it-works--bg
      .how-it-works__modal
        button.how-it-works__close(type="button") #[img(src='static/images/svg/Close_gray.svg' class="img-x" width="20" height="20" alt="close")]
        h3 Как это работает?
        .how-it-works__list
          .how-it-works__item--1
            span 1
            p Вы гордо дарите сертификат на событие
          
          .how-it-works__item--2
            p Доставим уже сегодня
            span В пределах МКАД за 290 ₽, при заказе до 17.00

          .how-it-works__item--1
            span 2
            p Получатель активируеет его в удобное время

          .how-it-works__item--2.mr-auto
            p Это можно сделать в течение года

          .how-it-works__item--1
            span 3
            p Мы профессионально организуем событие

          button.how-it-works__in-btn(type="button") Понятно
          
    include ../modules/header/header
    main.main
      block content
      include ../modules/footer/footer
      block script
      script(src="static/js/libs.min.js")
      script(src="static/js/main.js")
      script(src="static/js/header.js")
