extends template/main


block variables
  - var title = 'Presentstar'
  



block content
  
  .index-wrp
    include modules/index/index-header
    include modules/index/category
    include modules/index/banner-gift
    include modules/index/personality
    include modules/index/budget
    include modules/index/sale-banner
    include modules/index/package
    include modules/index/rewievs
    include modules/index/map
    include modules/index/gift-block

block script
  script(src="static/js/slick.js")
  script(src="static/js/index.js")
  script(src="static/js/category.js")
  script(src="static/js/map.js")
  