// -- COLORS

//====> light tone
$White: #fff;
$BG_Blue: #F8FAFF;
$Light_Blue: #D3DAE8;
$Super_Light_Gray: #F4F3F9;
$Light_Gray: #E2E1E3;
$Dark_Gray: #737373;

//====> blue and other
$Black: #1A1A1A;
$Dark_Blue: #0F0F35;
$Purple: #5B5BFF;
$Dark_Purple: #5252E6;
$Yellow: #FFB745;
$Red: #FF346B;


// -- Font Sizes

$h1: 48px;
$h2: 36px;
$h3: 24px;
$h4: 18px;
$p: 15px;
$bread_crumbs: 13px;
$small: 12px;
