@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@1,900&display=swap');

.index-header--bg {
  background-color: $BG_Blue;
  width: 100%;
  display: block;
  padding-bottom: 24px;
}
.card-wrp {
  width: 90%;
  margin-left: 5%;
}
.card {
  width: 253px;
  height: 376px;
}

.card--1 {
  background-color: $Light_Gray;
}

.card--2 {
  background-color: $Dark_Gray;
}

.card--3 {
  background-color: $Purple;
}


.card-wrp{
  position: relative;
  height: 398px;
  width: 343px;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform-style: flat;
}

.card{
  position: absolute;
  width: 255px;
  transition: .3s;
  height: 376px;
  background-image: url('../images/general/b-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  filter: drop-shadow(3px 0px 16px rgba(0, 0, 0, 0.2));
border-radius: 20px;
}

.card--1{
  background-color: $Light_Gray;
  
  top: 11px;
  left: 0px;
  z-index: 3;
}

.card--2{
  z-index: 2;
  background-color: $Dark_Gray;
  left: 43px;
  top: 10px;
  transform: perspective(1000px) rotate3d(0, -45, 0, 25deg) scale(1.1, 0.86);
}

.card--3{
  z-index: 1;
  background-color: $Purple;
  transform: perspective(1000px) rotate3d(0, -45, 0, 25deg) scale(1.1, 0.86);
  left: 76px;
  top: 10px;
  transform: perspective(1000px) rotate3d(0, -45, 0, 25deg) scale(1.13, 0.8);
}


.index-header__h2{
  font-weight: 700;
  font-size: 32px;
  color: $Dark_Blue;
  line-height: 105%;
  i {
    position: relative;
    color: $Light_Blue;
    font-style: normal;
    &:after {
      content: '';
      width: 100%;
      position: absolute;
      background-color: $Dark_Blue;
      display: block;
      height: 3px;
      left: 0;
      top: calc(50% + 1px);
    }
  }
}

.index-header__left {
  margin: 30px 18px 0;
}

.index-header__title {
  color: $Dark_Blue;
  font-size: $p;
  margin-top: 12px;
  line-height: 21px;
}

.index-header__catalog-link {
  @include BlueBtn(calc(100% - 32px), 53px);
  margin: 32px auto 0;
  box-shadow: 0px 4px 6px rgba(91, 91, 255, 0.25);
}

@media(max-width:768px) {

  .adv__wrp {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  
  .adv__item {
    flex-shrink: 0;
    width: 148px;
  }
  
}

@media(min-width: 768px){
  .index-header--bg{
    padding-top: 35px;
    padding-bottom: 48px;
  }
  .index-header{
    margin-right: 35px;
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .index-header__left{
    order: 1;
    width: calc(50% - 30px);
    margin: 0;
  }

  .card-wrp {
    margin: 0;
    order: 2;
  }

  .adv__wrp{
    order: 4;
  }

  .index-header__catalog-link{
    order: 3;
    margin-left: 0;
    width: 273px;
  }

  .index-header__h2{
    font-size: $h1;
    line-height: 51px;
    margin-top: 80px;
  }

  .index-header__title{
    height: 40px;
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      bottom: 0;
      width: 100%;
      height: 40px;
      background: linear-gradient(180deg, transparent, $BG_Blue 99%);
    }
  }
}

@media(min-width: 1080px){
  .index-header--bg{
    padding-bottom: 32px !important;
  }

  .index-header__left{
    width: 349px;
  }

  .index-header__catalog-link{
    width: 273px;
  }

  .index-header{
    margin-left: 40px;
    margin-right: 40px;
  }
  .card-wrp{

  }
}

@media(min-width:1191px){
  .index-header{
    margin-left: auto;
    margin-right: auto;
    max-width: 1111px;
  }
}


// Header adv


.adv__title {
  color: $Black;
  font-size: $h4;
  font-weight: 700;
  display: flex;
  margin-top: 30px;
  p {
    font-size: 24px;
    margin-left: 12px;
    line-height: 14px;
  }
}

.adv__item { 
  margin-left: 16px;
  
}

.adv__descr {
  color: $Black;
  font-size: $p;
  margin-top: 7px;
}

.adv__link {
  font-size: $p;
  margin-top: 7px;
  display: inline-block;
}

.adv__item--purple .adv__title, .adv__item--purple .adv__link{
  color: $Purple !important;
}

.adv__wrp .slick-track{
  display: flex;
}

@media(min-width: 768px) {
  .adv__wrp{
      display: flex;
      width: 546px;
      justify-content: space-between;
      margin: 40px auto 0;
  }

  .adv__item{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .adv__title{
      margin-top: 2px;
      width: max-content;
      text-align: center;
  }
}

@media(min-width: 1080px){
  .adv__wrp{
      margin-right: 103px;
      margin-top: 64px;
  }
}

.how-it-works__wrp {
  position: fixed;
  text-align: left;
  width: 343px;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  .img-x {
    cursor: pointer;
    position: relative;
    left: 310px;
    margin-left: auto;
    margin-right: 8px;
    top: 32px;
    z-index: 21;
  }
}
.how-it-works__btn {
  position: relative;
  left: 0%;
  top: 0;
  text-align: left;
  width: 343px;
  display: flex;
  align-items: center;
  height: 45px;
  box-shadow: 0px 22px 10px -15px rgba(255, 183, 69, 0.6);
  border-radius: 48px;
  background: #FFB745;
  color: $White;
  font-size: $p;
  font-weight: 700;
  border: none;

  border: none;
  cursor: pointer;
  .img-i {
    margin-left: 16px;
    margin-right: 8px;
  }
  
}

// HOW IT WORKS
/*
.how-it-works--bg {
  width: 100%;
  height: 100%;
  z-index: 200;
  position: fixed;
  background: rgba(15, 15, 53, 0.6);
  //display: block;
}*/

.how-it-works__modal {
  opacity: 0;
  position: relative;
  transition: .3s;
  z-index: -1;
  transform: scale(0.1);
  width: 95%;
  max-width: 375px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  top: 20%;
  background-color: $BG_Blue;
  border-radius: 16px;
  padding: 48px 24px;

  .how-it-works__in-btn {
    @include BlueBtn(201px, 53px);
    border: none;
    margin: 32px auto 0;
  }

  h3 {
    margin-left: 0;
    text-align: center;
    font-size: $h2;
    line-height: 34px;
    font-weight: 700;
  }

  .how-it-works__close {
    cursor: pointer;
    border: none;
    background-color: unset;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .how-it-works__list {
    margin-top: 32px;
    max-width: 297px;
    margin-left: auto;
    margin-right: auto;
  }

  .how-it-works__item--1 {
    display: flex;
    span {
      font-family: Literata;
      width: 32px;
      height: 32px;
      box-shadow: 0px 4px 6px rgba(91, 91, 255, 0.25);
      border-radius: 5px;
      background-color: $White;
      color: $Purple;
      font-size: 18px;
      font-weight: 900;
      text-align: center;
      line-height: 32px;
    }

    p {
      color: $Dark_Blue;
      font-size: $p;
      line-height: 21px;
      font-weight: 700;
      margin-left: 16px;
      border-bottom: 1px solid $Light_Blue;
      padding-bottom: 12px;
    }
  }

  .how-it-works__item--2 {
    margin-left: 48px;
    margin-bottom: 38px;
    p {
      color: $Black;
      font-size: $p;
      line-height: 21px;
      margin-top: 12px;
      margin-bottom: 8px;
    }

    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: $Dark_Gray;
    }
  }
}

@media (min-width: 768px) {
  .how-it-works__modal {
    max-width: 720px;
    height: 364px;

    .how-it-works__close {
      top: 32px;
    }

    h3 {
      margin-left: 8%;
      text-align: left;
    }

    .how-it-works__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 562px;
    }

    .how-it-works__item--1 {
      width: 177px;
      order: 1;
      display: flex;
      flex-direction: column;
      span {
        display: block;
        margin-bottom: 12px;
      }

      p {
        margin-left: 0;
        padding-bottom: 24px;
      }
    }

    .how-it-works__item--2 {
      order: 2;
      width: 177px;
      margin-left: 0;
      margin-top: 12px;
    }

    .mr-auto {
      margin-right: auto;
      margin-left: 18px;
    }

    .how-it-works__in-btn {
      display: none;
    }
  }
}


.show-modal {
  z-index: 200;
  opacity: 1;
  transform: scale(1) translateX(-50%);
}

.bg-blur {
  filter: blur(40px);
}

.mobile-menu-BG--header-active {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  z-index: 50;
  background: rgba(15, 15, 53, 0.6);
  top: 0;
}
