- 
  footerCard = [
    {
      title: 'Вид подарка',
      smile: '🎁',
      links: [{ name: 'SPA', href: "#" }, { name: 'Мастер-класс', href: "#" }, { name: "Милитари", href: "#"}, { name: "Наборы «20 в 1»", href: "#"}, { name: "...", href: "#"}]
    },
    {
      title: 'Приключения',
      smile: '🛶',
      links: [{ name: 'Экстримальные подарки', href: "#" }, { name: 'Полеты', href: "#" }, { name: 'Милитари', href: "#" }, { name: 'Необычный подарок девушке', href: "#" }, { name: "...", href: "#"}]
    },
    {
      title: 'Полёты',
      smile: '🛩️',
      links: [{ name: 'Небо в подарок', href: "#" }, { name: 'Полет на самолете', href: "#" }, { name: 'Полет на воздушном шаре', href: "#" }, { name: 'Полет на истребителе', href: "#" }, { name: "...", href: "#"}]
    },
    {
      title: 'Для кого',
      smile: '👨‍👩',
      links: [{ name: 'Для женщин', href: "#" }, { name: 'Для мужчин', href: "#" }, { name: 'Для двоих', href: "#" }, { name: 'Маме', href: "#" }, { name: "...", href: "#"}]
    },
    {
      title: 'Повод',
      smile: '🎊',
      links: [{ name: 'На день рождения', href: "#" }, { name: 'На новый год', href: "#" }, { name: 'На годовщину отношений', href: "#" }, { name: 'На День св. Валентина', href: "#" }, { name: "...", href: "#"}]
    },
    {
      title: 'VIP подарки',
      smile: '💎‍',
      links: [{ name: 'Элитные и дорогие подарки', href: "#" }, { name: 'Подарки руководителю', href: "#" }, { name: 'Эксклюзивные подарки', href: "#" }, { name: 'VIP подарки', href: "#" }, { name: "...", href: "#"}]
    },
    {
      title: 'Вид подарка',
      smile: '🌟',
      links: [{ name: 'SPA', href: "#" }, { name: 'Мастер-класс', href: "#" }, { name: "Милитари", href: "#"}, { name: "Наборы «20 в 1»", href: "#"}, { name: "...", href: "#"}]
    },
    {
      title: 'Вид подарка',
      smile: '📚',
      links: [{ name: 'SPA', href: "#" }, { name: 'Мастер-класс', href: "#" }, { name: "Милитари", href: "#"}, { name: "Наборы «20 в 1»", href: "#"}, { name: "...", href: "#"}]
    }
  ]

- var footerNav = [ {name: 'О нас', href: '#'}, {name: 'Доставка', href: '#'}, {name: 'Корпоративным клиентам', href: '#'}, {name: 'Отзывы', href: '#'}, {name: 'Карта сайта', href: '#'}, {name: 'Карта проезда', href: '#'}, {name: 'Активировать подарок', href: '#'}, {name: 'Оставить отзыв', href: '#'}, {name: 'Оферта', href: '#'}, {name: 'Положение о персональных данных', href: '#'}]

svg(style='display: none')
    symbol#fb-icon(viewbox='0 0 32 32')
      path(d="M22.06 8.352C22.06 8.352 20.14 8.352 19.372 8.352C18.476 8.352 18.22 8.736 18.22 9.76C18.22 10.528 18.22 12.064 18.22 12.064H22.06L21.676 16.16H18.22V28.576H13.228V16.16H10.668V12.064H13.228C13.228 12.064 13.228 11.424 13.228 8.736C13.228 5.664 14.892 4 18.604 4C19.244 4 22.06 4 22.06 4V8.352Z")
    symbol#inst-icon(viewbox='0 0 32 32')
      path(fill-rule="evenodd" clip-rule="evenodd" d="M27.8696 20.9565C27.8696 22.2609 27.6087 23.0435 27.3478 23.8261C27.087 24.6087 26.6956 25.2609 25.913 25.913C25.2609 26.5652 24.6087 26.9565 23.8261 27.3478C23.0435 27.6087 22.2609 27.8696 20.9565 27.8696C20.4512 27.8696 20.0829 27.8891 19.6317 27.9131C18.9182 27.9511 17.9975 28 16 28C12.7391 28 12.3478 28 11.0435 27.8696C9.73914 27.8696 8.95652 27.6087 8.17391 27.3478C7.3913 27.087 6.73914 26.6957 6.08696 25.913C5.43479 25.2609 5.04348 24.6087 4.65217 23.8261C4.3913 23.0435 4.13044 22.2609 4.13044 20.9565C4.13044 20.4512 4.11086 20.0829 4.08688 19.6317C4.04895 18.9183 4 17.9975 4 16C4 12.7391 4.00001 12.3478 4.13044 11.0435C4.13044 9.73913 4.3913 8.95652 4.65217 8.17391C4.91304 7.3913 5.30436 6.73913 6.08696 6.08696C6.73914 5.43478 7.3913 5.04348 8.17391 4.65217C8.95652 4.3913 9.73914 4.13043 11.0435 4.13043C11.5488 4.13043 11.9171 4.11086 12.3683 4.08687C13.0817 4.04895 14.0025 4 16 4C19.2609 4 19.6522 4 20.9565 4.13043C22.2609 4.13043 23.0435 4.3913 23.8261 4.65217C24.6087 4.91304 25.2609 5.30435 25.913 6.08696C26.5652 6.73913 26.9565 7.3913 27.3478 8.17391C27.6087 8.95652 27.8696 9.73913 27.8696 11.0435C27.8696 11.5488 27.8891 11.9171 27.9131 12.3683C27.9511 13.0817 28 14.0025 28 16C28 19.2609 28 19.6522 27.8696 20.9565ZM25.2614 8.9555C25.0005 8.43376 24.7396 8.04246 24.3483 7.52072C23.957 7.12942 23.5657 6.86855 22.9135 6.60768C22.8801 6.59651 22.8447 6.58439 22.8072 6.57157C22.4068 6.4345 21.7696 6.21637 20.6962 6.21637C20.1845 6.21637 19.8133 6.1963 19.3622 6.1719C18.6633 6.13411 17.7725 6.08594 15.8701 6.08594H15.8701C12.7396 6.08594 12.3483 6.08594 11.044 6.21637C9.97054 6.21637 9.33334 6.4345 8.93294 6.57157C8.89547 6.5844 8.86008 6.59651 8.82659 6.60768C8.30485 6.86855 7.91356 7.12942 7.39182 7.52072C7.00052 7.91202 6.73965 8.30333 6.47878 8.9555C6.46762 8.98899 6.4555 9.02438 6.44268 9.06185L6.44267 9.06187C6.3056 9.46227 6.08747 10.0995 6.08747 11.1729C6.08747 11.6846 6.0674 12.0557 6.043 12.5069C6.00521 13.2058 5.95703 14.0966 5.95703 15.999C5.95703 19.1294 5.95704 19.5207 6.08747 20.8251C6.08747 21.8985 6.3056 22.5357 6.44267 22.9361L6.44269 22.9361C6.45551 22.9736 6.46762 23.009 6.47878 23.0425C6.73965 23.5642 7.00052 23.9555 7.39182 24.4772C7.78313 24.8685 8.17442 25.1294 8.82659 25.3903C8.86007 25.4014 8.89547 25.4136 8.93293 25.4264C9.33333 25.5635 9.97053 25.7816 11.044 25.7816C11.5557 25.7816 11.9268 25.8017 12.378 25.8261C13.0769 25.8639 13.9677 25.912 15.8701 25.912C19.0005 25.912 19.3918 25.912 20.6962 25.7816C21.7696 25.7816 22.4068 25.5635 22.8072 25.4264C22.8447 25.4136 22.8801 25.4014 22.9135 25.3903C23.4353 25.1294 23.8266 24.8685 24.3483 24.4772C24.7396 24.0859 25.0005 23.6946 25.2614 23.0425C25.2725 23.009 25.2847 22.9736 25.2975 22.9361C25.4346 22.5357 25.6527 21.8985 25.6527 20.8251C25.6527 20.3134 25.6727 19.9423 25.6971 19.4912L25.6971 19.4911V19.4911C25.7349 18.7922 25.7831 17.9014 25.7831 15.999V15.9982C25.7831 12.8685 25.7831 12.4771 25.6527 11.1729C25.6527 9.99898 25.5222 9.34681 25.2614 8.9555ZM16.0005 22.1294C12.6092 22.1294 9.87007 19.3903 9.87007 15.999C9.87007 12.6077 12.6092 9.86855 16.0005 9.86855C19.3918 9.86855 22.1309 12.6077 22.1309 15.999C22.1309 19.3903 19.3918 22.1294 16.0005 22.1294ZM22.3918 11.0425C21.6092 11.0425 20.957 10.3903 20.957 9.60768C20.957 8.82507 21.6092 8.17289 22.3918 8.17289C23.1744 8.17289 23.8266 8.82507 23.8266 9.60768C23.8266 10.3903 23.1744 11.0425 22.3918 11.0425ZM19.912 15.999C19.912 18.1601 18.1601 19.912 15.999 19.912C13.8379 19.912 12.0859 18.1601 12.0859 15.999C12.0859 13.8379 13.8379 12.0859 15.999 12.0859C18.1601 12.0859 19.912 13.8379 19.912 15.999Z")
    symbol#vk-icon(viewbox='0 0 32 32')
      path(fill-rule="evenodd" clip-rule="evenodd" d="M15.7423 22.6095H17.1768C17.1768 22.6095 17.6102 22.5632 17.8314 22.331C18.035 22.1177 18.0285 21.7173 18.0285 21.7173C18.0285 21.7173 18.0005 19.8428 18.8939 19.5667C19.7746 19.2948 20.9055 21.3785 22.1042 22.1796C23.0106 22.786 23.6994 22.653 23.6994 22.653L26.9044 22.6095C26.9044 22.6095 28.5811 22.509 27.7861 21.2252C27.7209 21.1202 27.3231 20.2756 25.403 18.54C23.3934 16.7235 23.6625 17.0173 26.0834 13.8752C27.5577 11.9616 28.1471 10.7933 27.963 10.293C27.7874 9.81639 26.7031 9.94235 26.7031 9.94235L23.0943 9.96425C23.0943 9.96425 22.8268 9.92871 22.6284 10.0442C22.4345 10.1575 22.3097 10.4215 22.3097 10.4215C22.3097 10.4215 21.7386 11.9023 20.9768 13.1616C19.3699 15.8189 18.7274 15.9591 18.4648 15.7941C17.8539 15.4096 18.0064 14.2493 18.0064 13.4249C18.0064 10.8498 18.4074 9.7761 17.2254 9.49815C16.8331 9.40582 16.5444 9.3449 15.5412 9.33506C14.2536 9.32205 13.1637 9.33887 12.5466 9.63331C12.1361 9.82908 11.8194 10.2654 12.0123 10.2904C12.2508 10.3215 12.791 10.4323 13.0774 10.812C13.4472 11.3019 13.4342 12.4023 13.4342 12.4023C13.4342 12.4023 13.6466 15.4337 12.938 15.8103C12.4515 16.0686 11.7842 15.5413 10.3516 13.1305C9.61756 11.8956 9.06334 10.5306 9.06334 10.5306C9.06334 10.5306 8.95647 10.2755 8.76587 10.1391C8.53454 9.97377 8.21133 9.9211 8.21133 9.9211L4.78211 9.94299C4.78211 9.94299 4.26732 9.95695 4.07835 10.1749C3.91023 10.3688 4.06499 10.7698 4.06499 10.7698C4.06499 10.7698 6.74972 16.8866 9.78959 19.9691C12.5769 22.7952 15.7423 22.6095 15.7423 22.6095Z")

footer.footer
  .footer__card-wrp
    ul.footer__card-list
      for card in footerCard
        li.footer__card-item
          p.footer__card-title=card.title 
            span.footer__card-smile=card.smile
          for link in card.links
            a.footer__card-link(href=link.href)=link.name 
      
  ul.footer__nav-list
    li.footer__nav-item.footer__nav-item--contact
      p Контакты
      b +7 495 021 25 25
      span Ежедневно с 09:00 до 21:00

    for item in footerNav
      li.footer__nav-item
        a(href=item.href class="footer__nav-link")=item.name

    li.footer__nav-item.footer__nav-btn-li
      a.footer__nav-btn(href='#') Служба качества

  .footer__contacts
    .footer__soc-wrp
      a(href="")
        svg(width='32' height='32')
          use(xlink:href='#fb-icon')
      a(href="")
        svg(width='32' height='32')
          use(xlink:href='#inst-icon')
      a(href="")
        svg(width='32' height='32')
          use(xlink:href='#vk-icon')
    a.footer__full-link(href="#") Полная версия сайта
    p.footer__copyright © 2005 — 2020 ООО «Авангард»
    